body {
    
    margin: 0;
    background-color:#ECE5F0;
    
    

}
h1{
    margin: 0 0 0 0;
    text-align: center;
    font-family: 'Texturina', serif;
    font-size: 40px;
    color: #E98A15;
}

#red{
    
    justify-content: center;
    text-align: center;
    background-color: transparent;
    
}


#blue{
    
    justify-content: center;
    height: 150%;

    

}

canvas{
    border-radius: 10px;

}
#myCanvas{
    
    
}